<html>
<head></head>
<body>
  <div>
    <h1>Tax Calculator</h1>
  </div>

  <div>
    <h2>Input Item</h2>
    <%= form_tag('/saveitem', method: 'post') do %>
    <table>
      <tbody>
        <tr>
          <td>User ID : </td>
          <td><%= text_field_tag(:userid) %></td>
        </tr>
        <tr>
          <td>Name : </td>
          <td><%= text_field_tag(:name) %></td>
        </tr>
        <tr>
          <td>Tax Code : </td>
          <td><%= text_field_tag(:tax_code) %></td>
        </tr>
        <tr>
          <td>Price : </td>
          <td><%= text_field_tag(:price) %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= submit_tag("Save Item") %>
        </tr>
      </tbody>
    </table>
    <% end %>
  <div>

  <div>
    <h2>View Bills</h2>
    <%= form_tag('/viewbills', method: 'get') do %>
    <table>
      <tbody>
        <tr>
          <td>User ID : </td>
          <td><%= text_field_tag(:userid) %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= submit_tag("View My Bills") %>
        </tr>
      </tbody>
    </table>
    <% end %>
  <div>
</body>
</html>